body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:612px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u15050 {
  position:absolute;
  left:23px;
  top:20px;
  width:594px;
  height:155px;
}
#u15051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:30px;
}
#u15051 {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:30px;
  text-align:left;
}
#u15052 {
  position:absolute;
  left:2px;
  top:7px;
  width:219px;
  word-wrap:break-word;
}
#u15053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:30px;
}
#u15053 {
  position:absolute;
  left:223px;
  top:0px;
  width:366px;
  height:30px;
  text-align:left;
}
#u15054 {
  position:absolute;
  left:2px;
  top:7px;
  width:362px;
  word-wrap:break-word;
}
#u15055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:30px;
}
#u15055 {
  position:absolute;
  left:0px;
  top:30px;
  width:223px;
  height:30px;
  text-align:left;
}
#u15056 {
  position:absolute;
  left:2px;
  top:7px;
  width:219px;
  word-wrap:break-word;
}
#u15057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:30px;
}
#u15057 {
  position:absolute;
  left:223px;
  top:30px;
  width:366px;
  height:30px;
  text-align:left;
}
#u15058 {
  position:absolute;
  left:2px;
  top:7px;
  width:362px;
  word-wrap:break-word;
}
#u15059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:30px;
}
#u15059 {
  position:absolute;
  left:0px;
  top:60px;
  width:223px;
  height:30px;
  text-align:left;
}
#u15060 {
  position:absolute;
  left:2px;
  top:7px;
  width:219px;
  word-wrap:break-word;
}
#u15061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:30px;
}
#u15061 {
  position:absolute;
  left:223px;
  top:60px;
  width:366px;
  height:30px;
  text-align:left;
}
#u15062 {
  position:absolute;
  left:2px;
  top:7px;
  width:362px;
  word-wrap:break-word;
}
#u15063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:30px;
}
#u15063 {
  position:absolute;
  left:0px;
  top:90px;
  width:223px;
  height:30px;
  text-align:left;
}
#u15064 {
  position:absolute;
  left:2px;
  top:7px;
  width:219px;
  word-wrap:break-word;
}
#u15065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:30px;
}
#u15065 {
  position:absolute;
  left:223px;
  top:90px;
  width:366px;
  height:30px;
  text-align:left;
}
#u15066 {
  position:absolute;
  left:2px;
  top:7px;
  width:362px;
  word-wrap:break-word;
}
#u15067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:30px;
}
#u15067 {
  position:absolute;
  left:0px;
  top:120px;
  width:223px;
  height:30px;
  text-align:left;
}
#u15068 {
  position:absolute;
  left:2px;
  top:7px;
  width:219px;
  word-wrap:break-word;
}
#u15069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:30px;
}
#u15069 {
  position:absolute;
  left:223px;
  top:120px;
  width:366px;
  height:30px;
  text-align:left;
}
#u15070 {
  position:absolute;
  left:2px;
  top:7px;
  width:362px;
  word-wrap:break-word;
}
