body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1790px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7254 {
  position:absolute;
  left:294px;
  top:60px;
  width:256px;
  height:370px;
}
#u7254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:370px;
}
#u7254_ref {
  position:absolute;
  left:542px;
  top:420px;
  width:1px;
  height:1px;
}
#u7255 {
  position:absolute;
  left:18px;
  top:60px;
  width:256px;
  height:370px;
}
#u7255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:370px;
}
#u7255_ref {
  position:absolute;
  left:266px;
  top:420px;
  width:1px;
  height:1px;
}
#u7256 {
  position:absolute;
  left:574px;
  top:60px;
  width:256px;
  height:370px;
}
#u7256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:370px;
}
#u7256_ref {
  position:absolute;
  left:822px;
  top:420px;
  width:1px;
  height:1px;
}
#u7257 {
  position:absolute;
  left:894px;
  top:60px;
  width:406px;
  height:370px;
}
#u7257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:406px;
  height:370px;
}
#u7257_ref {
  position:absolute;
  left:1292px;
  top:420px;
  width:1px;
  height:1px;
}
#u7258 {
  position:absolute;
  left:1384px;
  top:60px;
  width:406px;
  height:370px;
}
#u7258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:406px;
  height:370px;
}
#u7258_ref {
  position:absolute;
  left:1782px;
  top:420px;
  width:1px;
  height:1px;
}
#u7259 {
  position:absolute;
  left:34px;
  top:480px;
  width:256px;
  height:370px;
}
#u7259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:370px;
}
#u7259_ref {
  position:absolute;
  left:282px;
  top:840px;
  width:1px;
  height:1px;
}
#u7260 {
  position:absolute;
  left:324px;
  top:480px;
  width:256px;
  height:370px;
}
#u7260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:370px;
}
#u7260_ref {
  position:absolute;
  left:572px;
  top:840px;
  width:1px;
  height:1px;
}
